/*FAB*/

.fab {
  border-radius: 100%;
  bottom: 25px;
  font-size: 30px;
  padding: 25px;
  position: fixed;
  right: 25px;
  z-index: 9;
}

.fab i {
  margin-right: 0px;
}


.fab-danger {
  bottom: 25px;
  padding: 10px;
  position: fixed;
  left: 25px;
  z-index: 9;
}